body{
	background-image:url('http://www.guitarnoise.com/images/features/pink-floyd-wallpaper.jpg');
	background-size:cover;
}

h1{
	text-align:center;
	color:red;
	font-family: 'Permanent Marker', cursive;
	font-size:40px;
}

label{
	color:red;
	font-size:20px;
	margin:5px;
	font-family: 'Anton', sans-serif;
}

button{
	padding:5px;
	margin:10px;
	font-family: 'Dosis', sans-serif;
	font-size:15px;
	background-color:darkblue; 
	color:darkorange;
}

button:hover{
	font-size:22px;
	background-color:lightblue;
}

audio{
	margin-right:auto;
	margin-left:auto;
	display:block;
}

img{
	margin-right:auto;
	margin-left:auto;
	display:block;
}

.active{
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Permanent Marker', cursive;

}

.active a{
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 25px;
	padding: 15px;
	font-size: 20px;
	color:darkred;
}

.active a:hover{
	font-size: 30px;
}