body{
	background-image:url('http://www.guitarnoise.com/images/features/pink-floyd-wallpaper.jpg');
	background-size:cover;
}

h1{
	text-align:center;
	color:red;
	font-family: 'Permanent Marker', cursive;
	font-size:40px;
}

label{
	color:red;
	font-size:20px;
	margin:5px;
	font-family: 'Anton', sans-serif;
}

button{
	padding:5px;
	margin:10px;
	font-family: 'Dosis', sans-serif;
	font-size:15px;
	background-color:darkblue; 
	color:darkorange;
}

button:hover{
	font-size:22px;
	background-color:lightblue;
}

audio{
	margin-right:auto;
	margin-left:auto;
	display:block;
}

img{
	margin-right:auto;
	margin-left:auto;
	display:block;
}